.headertitle {
    grid-area: headertitle;
}
.aboutme {
    grid-area: aboutme;
    background-color: lightcyan;
}
.contact {
    grid-area: contact;
    background-color: lightgreen;
}

.container {
    display: grid;
    grid-template-areas:
        'headertitle headertitle headertitle headertitle'
        'aboutme aboutme aboutme aboutme'
        'contact contact contact contact';
    grid-template-rows: auto;
    grid-template-columns: repreat(3, 1fr);
}

.headertitle, .headertitle video {
    position: relative;
}

.headertitle video {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: 50% !important;
      width: 100%;
}
  
.myname {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

h1 {
    color:white;
    font-size: 70px;
    margin-bottom: 0px;
}

h2 {
    color: white;
    font-size: 40px;
    margin-top: 0px;
}

.navbar {
    display: flex;
    position: absolute;
    top: 8%;
    left: 80%;
    transform: translate(-50%,-50%);
}

.navlist {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left: 40px;
    margin-top:40px;
    width: 120px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.navlist:hover {
    color: rgb(70, 128, 204);
}

.redname {
    color: rgb(187,16,53);
}

.text_1 {
    animation: text1;
  }

.text_2 {
    animation: text2;
  }

.text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 20s;
    animation-timing-function: steps(22, end);
    animation-iteration-count: infinite;
  }

.text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }

@keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 18em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 22.5em;
  }
}

/*
My fonts
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
*/